backend/core/__pycache__/views.cpython-313.pyc
backend/core/__pycache__/models.cpython-313.pyc
backend/core/__pycache__/serializers.cpython-313.pyc
backend/core/__pycache__/serializers.cpython-313.pyc
