# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
*.venv
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py
settings_local.py

# If using Django's collectstatic
static/

# Django migrations (optional)
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# VSCode
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pipenv/poetry
Pipfile.lock
poetry.lock

# dotenv
.env
.env.*

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

# Pyre
.pyre/
